 <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="transactionReport">Rabo Bank</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#backend">Transaction Report</a></li>
                    <li class="active"><a href="#frontend">CSV Report</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <h2>Rabobank Customer Transaction Report Frontend</h2><br />
        <div id="records" ng-controller="CSVReportCtrl">
            <input type="text" placeholder='Please select a file....' class="btn btn-default" value="{{SelectedFile.name.toLowerCase()}}" disabled />

            <span class="btn btn-primary btn-file"> Browse <input type="file" ngf-select="SelectFile($file)">
            </span>
            <input type="button" class="btn btn-primary" value="Upload" ng-click="Upload()" ng-disabled="!uploadStatus" />
            <hr />
            <table id="tblRecords" cellpadding="0" cellspacing="0" align="center" ng-show="IsVisible">
                <tr>
                    <th class ng-repeat="(header,value) in data[0]" ng-click="sort(header)">{{header}} <span class="fa fa-sort"></span></th>
                </tr>
                <tbody>
                    <tr ng-repeat="row in data">
                        <td ng-repeat="cell in row">{{cell}}</td>
                    </tr>
                </tbody>
            </table>
            <span style="color:red" ng-show="isError">Please upload a valid CSV file!!!!</span>
        </div>
    </div>
